
<br><br>
<div class="container-sm">
  <figure class="text-center">
    <blockquote class="blockquote">
      <%= @parsed_response ["quote"] %>
    </blockquote>
    <figcaption class="blockquote-footer">
      Kanye Omari West
    </figcaption>
  </figure>
</div>
<br> <br>


<div class= "col text-center">
  <%= link_to 'Refresh', root_path, class:"btn btn-primary", :method => :get %>
</div>





