<br><br>
<div class="container-sm">
  "<%= @parsed_response ["quote"] %>"
  <br>
  <strong>- Kanye West</strong>
<br> <br>
<%= link_to 'Refresh', root_path, class:"btn btn-primary", :method => :get %>
</div>



